<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#A-guide-to-databases-and-SQL" data-toc-modified-id="A-guide-to-databases-and-SQL-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>A guide to databases and SQL</a></span><ul class="toc-item"><li><span><a href="#Learning-goals:" data-toc-modified-id="Learning-goals:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Learning goals:</a></span></li><li><span><a href="#Goal-1:-Summarize" data-toc-modified-id="Goal-1:-Summarize-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Goal 1: Summarize</a></span><ul class="toc-item"><li><span><a href="#What-is-a-Relational-Database?" data-toc-modified-id="What-is-a-Relational-Database?-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>What is a Relational Database?</a></span></li><li><span><a href="#POPULAR-RDBMS" data-toc-modified-id="POPULAR-RDBMS-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>POPULAR RDBMS</a></span></li></ul></li><li><span><a href="#Goal-2:-Database-Terminology" data-toc-modified-id="Goal-2:-Database-Terminology-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Goal 2: Database Terminology</a></span><ul class="toc-item"><li><span><a href="#Relational-Database-Schema" data-toc-modified-id="Relational-Database-Schema-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Relational Database Schema</a></span></li><li><span><a href="#Table-columns-view" data-toc-modified-id="Table-columns-view-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Table columns view</a></span></li><li><span><a href="#Terminology" data-toc-modified-id="Terminology-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Terminology</a></span></li><li><span><a href="#SQLite" data-toc-modified-id="SQLite-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>SQLite</a></span></li></ul></li><li><span><a href="#Goal-3:-Get-going-with-sqlite!" data-toc-modified-id="Goal-3:-Get-going-with-sqlite!-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Goal 3: Get going with sqlite!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Load-a-DB-object-with-connect-and-cursor" data-toc-modified-id="Load-a-DB-object-with-connect-and-cursor-1.4.0.1"><span class="toc-item-num">1.4.0.1&nbsp;&nbsp;</span>Load a DB object with <code>connect</code> and <code>cursor</code></a></span></li><li><span><a href="#Use-sqlite_master-to-find-all-the-tables-in-the-schema" data-toc-modified-id="Use-sqlite_master-to-find-all-the-tables-in-the-schema-1.4.0.2"><span class="toc-item-num">1.4.0.2&nbsp;&nbsp;</span>Use sqlite_master to find all the tables in the schema</a></span></li><li><span><a href="#Get-information-about-one-table" data-toc-modified-id="Get-information-about-one-table-1.4.0.3"><span class="toc-item-num">1.4.0.3&nbsp;&nbsp;</span>Get information about one table</a></span></li><li><span><a href="#Use-description" data-toc-modified-id="Use-description-1.4.0.4"><span class="toc-item-num">1.4.0.4&nbsp;&nbsp;</span>Use description</a></span></li><li><span><a href="#Making-fetch-happen" data-toc-modified-id="Making-fetch-happen-1.4.0.5"><span class="toc-item-num">1.4.0.5&nbsp;&nbsp;</span>Making fetch happen</a></span></li></ul></li></ul></li><li><span><a href="#Goal-4:-Use-basic-SQL-commands" data-toc-modified-id="Goal-4:-Use-basic-SQL-commands-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Goal 4: Use basic SQL commands</a></span><ul class="toc-item"><li><span><a href="#Construct-SQL-queries" data-toc-modified-id="Construct-SQL-queries-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Construct SQL queries</a></span><ul class="toc-item"><li><span><a href="#Options-for-each:" data-toc-modified-id="Options-for-each:-1.5.1.1"><span class="toc-item-num">1.5.1.1&nbsp;&nbsp;</span>Options for each:</a></span></li></ul></li><li><span><a href="#Practice" data-toc-modified-id="Practice-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Practice</a></span></li><li><span><a href="#SQL-Joins" data-toc-modified-id="SQL-Joins-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>SQL Joins</a></span></li></ul></li></ul></li></ul></div>

![sql](img/sql-logo.jpg)

# A guide to databases and SQL

Let's start with Peter Bell's great blog piece [on relational databases](https://flatironschool.com/blog/an-introduction-to-the-relational-database).

Themes:
- Structured vs. Unstructured Data
- Records (Rows) in Tables in Databases
- Eliminating Redundancy

## Learning goals:

- Goal 1: Summarize the use case for SQL in the data science skill set
- Goal 2: Define key SQL terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

### What is a Relational Database?

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

## Goal 2: Database Terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

This sort of picture is sometimes called an **E**ntity **R**elationship **D**iagram. [Here](https://www.smartdraw.com/entity-relationship-diagram/) is another good resource for explaining typical ERD conventions.

### Table columns view

![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views


### SQLite

![sqlite](img/SQLite-Python.jpg)

> "SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## Goal 3: Get going with sqlite!

In [ ]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [ ]:
!ls

In [ ]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema

Get the schema of a database from a db in sqlite

In [ ]:
cursor.execute(
"""
SELECT name
FROM sqlite_master
WHERE type='table';
"""
)

In [ ]:
cursor.fetchall()

For more on "sqlite_master", see [here](https://www.techonthenet.com/sqlite/sys_tables/index.php).

#### Get information about one table

> **A note about** `execute`
>
> Each time you use it, you reset the value of cursor

In [ ]:
cursor.execute(
"""
SELECT *
FROM airports
"""
)

#### Use description

In [ ]:
cursor.description

The septuple structure has to do with Python API [compatibility issues](https://kite.com/python/docs/sqlite3.Cursor.description).

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`. The latter takes a number of records to return as a parameter.

In [ ]:
cursor.fetchmany(10)

**Task:** Get the descriptive data for airlines and routes tables

In [ ]:
cursor.execute(
    """
    SELECT *
    FROM airlines
    """
).description

In [ ]:
cursor.execute(
    """SELECT *
    FROM routes
    """
).description

## Goal 4: Use basic SQL commands

- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**SELECT**: Which columns do you want?

**FROM**: Which table(s) is relevant?

**WHERE**: Filtering: Which rows do you want?

(**GROUP BY / HAVING**): Do you want aggregate statistics?

**ORDER BY**: How do you want the results to appear?

**LIMIT**: Do you want all relevant matches?

#### Options for each:

**Select**:  `DISTINCT`, using `AS` to rename columns, single number aggregates, `COUNT()` to count, `*` for "all"

**From:** also uses aliasing with `AS`

**Where**: `=`, `BETWEEN`, `IN`, wildcards with `%`, `AND`, `OR`, `NOT` pattern matching with `LIKE` and `ILIKE`

**Order by**: `ASC` and `DESC`

**Limit**:  #

### Practice

**Tasks**:
- Select only the names of active airlines in the United Kingdom from the airlines table. <br/>
Hint: The values for 'active' are 'Y' and 'N'.
- Select the unique list of countries with airports and order them alphabetically.

In [ ]:
cursor.execute(
    """
    SELECT name
    FROM airlines
    WHERE active='Y'
    AND country='United Kingdom'
    """
).fetchall()

In [ ]:
cursor.execute(
    """
    SELECT DISTINCT country
    FROM airports
    ORDER BY country
    """
).fetchall()

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

How are these different joins possible?

Notice that I choose a column from each table "on" which to effect the join. This is the means by which I pair up the records from one table with the records of another.

Look back up at the sample diagram under "What is a Relational Database?". We might use the "student_id" column to match up names in the names table with grades in the grades table. But what if there are values in one table's version of "student_id" that don't appear in the other table's version? In that case we need to let the software know whether or not we want to have *all* of the records, regardless of whether they have corresponding entries in all the tables we are joining. This makes for the variety depicted above.

- If I select records from "A INNER JOIN B", then a record will be displayed *only if it exists in both tables*.

- If I select records from "A LEFT JOIN B", then *all relevant records from A will be displayed*, regardless of whether they have representation in B. Records from B with no representation in A will *not* be displayed.

In [ ]:
cursor.execute(
    """
    SELECT p.name, l.name, p.country
    FROM airports p
    LEFT JOIN airlines l
    ON p.country=l.country
    ORDER BY l.name
    LIMIT 5
    """
).fetchall()

In [ ]:
cursor.execute(
    """
    SELECT *
    FROM airlines
    WHERE country='Greenland'
    """
).fetchall()

In [ ]:
cursor.execute(
    """
    SELECT p.name, l.name, p.country
    FROM airports p
    INNER JOIN airlines l
    ON p.country=l.country
    ORDER BY l.name
    LIMIT 5
    """
).fetchall()